.title-main {
  margin: 1.5rem 0px;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  overflow: hidden;
}
